In [1]:
import pandas as pd

# Criar um DataFrame de exemplo com colunas categóricas e numéricas
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)

def highlight_max_in_category(s):
    '''
    Destaca o maior valor em uma coluna categórica.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

# Aplicar a função de destaque para a coluna categórica
styled_df = df.style.apply(highlight_max_in_category, subset=['B'])

# Mostrar o DataFrame com os maiores valores destacados na coluna categórica
styled_df

In [2]:
df.style.highlight_min(axis=0)

In [3]:
df.style.highlight_max(axis=0)

In [4]:
import pandas as pd

# Criar um DataFrame de exemplo com colunas categóricas e numéricas
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)

def highlight_min_in_category(val):
    '''
    Destaca o menor valor em uma coluna categórica.
    '''
    if isinstance(val, str):  # Verifica se o valor é uma string (categórico)
        return 'background-color: yellow' if val == df['B'].min() else ''
    return ''  # Para valores numéricos, não destaque

# Aplicar a função de destaque para cada elemento do DataFrame
styled_df = df.style.applymap(highlight_min_in_category)

# Mostrar o DataFrame com os menores valores destacados na coluna categórica
styled_df

C:\Users\fallg\AppData\Local\Temp\ipykernel_12684\2412487934.py:17: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  styled_df = df.style.applymap(highlight_min_in_category)

In [ ]:
# Resposta generica para trabalhar com o comparativo somente de numeros e não categóricos
import pandas as pd

# Considere que df é o seu DataFrame

# Opção 1: Limitar a pesquisa às colunas numéricas
numeric_cols = df.select_dtypes(include='number').columns
styled_df_numeric = df.style.highlight_min(subset=numeric_cols, axis=0)

# Opção 2: Escrever uma função personalizada para destacar os valores mínimos em todas as colunas
def highlight_min(val):
    '''
    Destaca o menor valor em todas as colunas.
    '''
    if isinstance(val, (int, float)):
        return 'background-color: yellow' if val == df.min().min() else ''
    return ''

styled_df_custom = df.style.applymap(highlight_min)

# Mostrar os resultados
styled_df_numeric
styled_df_custom